<form [formGroup]="formGroup" class="flex flex-col gap-4" (ngSubmit)="add()">
    <div>
        <tui-input formControlName="name">
            Name
        </tui-input>
        <tui-error formControlName="name" [error]="[] | tuiFieldError | async"></tui-error>
    </div>

    <div>
        <tui-input-card formControlName="number" [autocompleteEnabled]="true">
            Card number
        </tui-input-card>
        <tui-error formControlName="number" [error]="[] | tuiFieldError | async"></tui-error>
    </div>

    <div>
        <div tuiGroup class="w-full">
            <div>
                <tui-input-expire formControlName="expiration" [autocompleteEnabled]="true" class="">
                    Expire date
                </tui-input-expire>
                <tui-error formControlName="cvc" [error]="[] | tuiFieldError | async"></tui-error>
            </div>
            <div>
                <tui-input-cvc formControlName="cvc" [autocompleteEnabled]="true">
                    CVC/CVV
                </tui-input-cvc>
                <tui-error formControlName="expiration" [error]="[] | tuiFieldError | async"></tui-error>
            </div>
        </div>
    </div>

    <div class="flex gap-2 justify-between items-center">

        <button tuiButton appearance="outline" type="reset">Annuler</button>

        <button tuiButton type="submit">Ajouter</button>

    </div>
</form>