<div class="flex flex-col gap-3 h-full relative">
    <h4 class="mb-4">Votre recette</h4>

    <app-designer-droplist class="flex-1"></app-designer-droplist>

    <div class="text-right">
        <h4>Total: <app-money [value]="designerService.total"></app-money></h4>
    </div>

    <div class="flex gap-2 items-stretch max-md:flex-col-reverse md:items-center max-w-screen-xl">
        <button tuiButton appearance="outline" (click)="exit()" class="md:mr-auto">
            Abandonner
        </button>

        <button tuiButton appearance="primary" (click)="validate()" iconRight="tuiIconArrowRight">
            Déguster
        </button>
    </div>

</div>