<tui-island [routerLink]="['/product', product.id]" [hoverable]="true">
    <div class="flex flex-col gap-2">

        <div class="flex justify-between items-center">
            <div>
                <h5 class="line-clamp-2">{{product.name}}</h5>
                <p class="text-stone-600 hover:text-stonz-500 line-clamp-2 text-sm"><app-product-author
                        [author]="product.author"></app-product-author></p>
            </div>

            <app-rating [rating]="product.rating" [preview]="true" class="text-orange-900 text-sm"></app-rating>
        </div>

        <app-product-preview [product]="product"
            class="aspect-square flex items-center justify-center"></app-product-preview>


        <p class="text-stone-600 line-clamp-2 leading-snug">{{product.description}}</p>

        <div class="flex items-center justify-between">
            <p class="font-semibold text-lg"><app-money [value]="product.price"></app-money></p>
            <button tuiIconButton icon="tuiIconShoppingCart" size="s" appearance="secondary"
                tuiHint="Ajouter au panier"></button>
        </div>

    </div>
</tui-island>