<form class="container" [formGroup]="formGroup" class="w-full">
    <tui-input *tuiLet="filteredProducts | async as products" formControlName="search"
        [tuiTextfieldIconLeft]="'tuiIconSearchLarge'">
        Rechercher
        <input placeholder="Entrez le nom d'une recette" tuiTextfield />
        <ng-container *ngIf="products?.length">
            <tui-data-list *tuiDataList>
                <button *ngFor="let product of products" tuiOption [value]="product.id" (click)="onSelected(product)">
                    {{ product.name }}
                    <app-product-preview [product]="product" class="max-w-10"></app-product-preview>
                </button>
            </tui-data-list>
        </ng-container>
    </tui-input>

</form>