<app-title class="py-40">
    Nous cuisinons vos burgers
    <section ngProjectAs="content">
        <p class="text-balance max-w-prose">Lorem Elsass ipsum et pellentesque
            consectetur kougelhopf
            vulputate
            Morbi purus mamsell mollis Gal.
        </p>
    </section>
</app-title>

<div class="flex gap-2 flex-wrap">

    <button tuiButton routerLink="/catalog">Consulter le catalogue</button>

    <button tuiButton appearance="secondary" routerLink="/signup">Créer un compte</button>

</div>