<div class="text-center py-32 flex flex-col gap-6">
    <h1 class="max-w-prose mx-auto">
        Partagez vos recettes avec le monde entier
    </h1>

    <section class="flex flex-col gap-6">
        <p class="text-balance max-w-prose text-lg mx-auto">
            Faites vous livrez les recettes concotées par la communauté et partagez les vôtres.
        </p>
        <div class="flex gap-4 flex-wrap justify-center">

            <tui-badged-content [contentTop]="badge" size="l" [rounded]="true">
                <button tuiButton routerLink="/catalog">Recettes populaires</button>
            </tui-badged-content>

            <ng-template #badge>
                <div class="bg-orange-100 w-full h-full flex items-center justify-center">
                    <span>🔥</span>
                </div>
            </ng-template>

            <button tuiButton appearance="secondary" routerLink="/signup">Créer ma recette</button>

        </div>
    </section>
</div>