<div class="p-5 flex flex-col gap-4 h-full">
    <h4>Ingrédients</h4>

    <div class="flex gap-4" *ngIf="items$ | async as items">

        <tui-tabs [(activeItemIndex)]="index" vertical="left" class="w-32">
            <button tuiTab *ngFor="let category of items">
                {{category.name}}
            </button>
        </tui-tabs>

        <tui-scrollbar *ngIf="items?.[index] as category; else emptyState"
            class="w-96 animate-in fade-in slide-out-to-left-2">

            <div class="flex flex-col gap-4">
                <div>
                    <h3>{{category?.name}}</h3>
                    <p>{{category?.description}}</p>
                </div>

                <div cdkDropList id="ingredient-list" class="flex flex-col gap-2"
                    [cdkDropListData]="category.ingredients" [cdkDropListConnectedTo]="['designer-list']"
                    [cdkDropListSortingDisabled]="true">
                    <app-ingredient-tile *ngFor="let ingredient of category.ingredients" [ingredient]="ingredient"
                        cdkDrag class="cursor-move"></app-ingredient-tile>
                </div>
            </div>

        </tui-scrollbar>

        <ng-template #emptyState>
            <p>Choisissez une catégorie</p>
        </ng-template>

    </div>
</div>