<div class="flex flex-col flex-1">
    <div class="flex justify-between border-b border-stone-200 pb-2">
        <p class="font-medium">Panier</p>
        <app-money [value]="(total$ | async) ?? 0" class="text-base"></app-money>
    </div>

    <tui-scrollbar class="flex-1">

        <div class="flex flex-col divide-y divide-stone-200">

            @for (item of cart$ | async; track item.product.id) {

            <app-cart-product-preview [product]="item.product" [count]="item.count"></app-cart-product-preview>

            } @empty {
            <div class="flex flex-col my-10 gap-2 justify-center items-center">
                <tui-svg src="tuiIconShoppingCartLarge"></tui-svg>
                <p class="text-center">Votre panier est vide</p>
                <p class="text-sm opacity-50 text-center">Consultez le catalogue pour ajouter des produits au panier !
                </p>
            </div>
            }
        </div>

    </tui-scrollbar>

    <button tuiButton class="w-full" size="s" [routerLink]="'/cart'" [disabled]="(cart$ | async)?.length === 0">Voir mon
        panier</button>
</div>