<div class="flex flex-col gap-2 h-full">
    <p class="font-medium">Panier</p>

    <tui-scrollbar class="flex-1">

        <div class="flex flex-col gap-2">

            @for (item of cart$ | async; track item.product.id) {

            <app-cart-product-preview [product]="item.product" [count]="item.count"
                class="bg-white rounded-xl"></app-cart-product-preview>

            } @empty {
            <div class="flex flex-col my-8 gap-2 justify-center items-center">
                <tui-svg src="tuiIconShoppingCartLarge"></tui-svg>
                <p class="text-center">Votre panier est vide</p>
                <p class="text-sm opacity-50 text-center">Consultez le catalogue pour ajouter des produits au panier !
                </p>
            </div>
            }
        </div>

    </tui-scrollbar>

    <button tuiButton appearance="flat" class="w-full" size="s" [disabled]="(cart$ | async)?.length === 0">Aller au
        panier</button>
</div>