<div class="flex flex-col gap-2 h-full rounded-xl p-5 flex-1 border-2 transition-all duration-300 border-dashed border-transparent bg-white"
    [ngClass]="{
    '!border-orange-100': designerService.list.length === 0
}" cdkDropList id="designer-list" [cdkDropListData]="designerService.list"
    (cdkDropListDropped)="designerService.drop($event)">

    <div [attr.data-shown]="designerService.list.length === 0" *ngIf="designerService.list.length === 0"
        class="absolute top-1/2 left-1/2 -translate-x-1/2 -translate-y-1/2 opacity-50">
        <p>Glissez-déposez des ingrédients ici</p>
    </div>

    <app-ingredient-tile *ngFor="let ingredient of designerService.list; let i = index" [ingredient]="ingredient"
        cdkDrag [showControls]="true" (delete)="designerService.delete(i)"
        class="cursor-ns-resize"></app-ingredient-tile>

</div>