<div class="flex flex-col gap-6 mx-8">

    <app-title>
        À table !
        <p ngProjectAs="content">Vous avez {{ count$ | async | i18nPlural: pluralMapping}} dans votre panier.</p>
    </app-title>

    <div class="flex flex-col divide-y divide-stone-200">
        @for (item of cart$ | async; track item.product.id) {

        <app-cart-product-preview [product]="item.product" [count]="item.count"></app-cart-product-preview>

        } @empty {
        <button tuiButton appearance="primary" size="s" [routerLink]="'/trending'" class="my-10">Voir le
            catalogue</button>
        }
    </div>

    <p class="text-lg font-medium text-right">Total : <app-money [value]="(total$ | async) ?? 0"></app-money></p>

    <div class="flex justify-end gap-2">
        <button tuiButton size="l" (click)="clearCart()" appearance="outline">Vider le panier</button>
        <button tuiButton size="l" class="place-self-end">Passer commande</button>
    </div>
</div>