<div class="flex gap-6" *ngIf="product$ | async as product">

    <app-product-preview [product]="product"
        class="aspect-square flex items-center justify-center"></app-product-preview>

    <app-title>
        {{product?.name}}
        <div ngProjectAs="content" class="flex flex-col gap-2">
            <p>{{product?.description}}</p>
            <p class="font-medium text-lg"><app-money [value]="product?.price ?? 0"></app-money></p>
            <tui-rating [ngModel]="product?.rating" [readOnly]="true"></tui-rating>
        </div>
    </app-title>

</div>