<div class="rounded-xl border border-orange-100 bg-gradient-to-b from-transparent to-orange-50 group">

    <img [src]="ingredient.imageUrl" [alt]="ingredient.name" class="w-full">

    <div class="p-3 flex justify-between items-center gap-2">
        <div class="flex-1">
            <p class="font-medium">{{ingredient.name}}</p>
            <p class="line-clamp-2 opacity-60 text-sm">{{ingredient.description}}</p>
            <p class="text-sm"><app-money [value]="+ingredient.price"></app-money></p>
        </div>
        <div class="flex items-center gap-2" [class.hidden]="!showControls">
            <button tuiIconButton icon="tuiIconTrash" size="s" appearance="secondary-destructive"
                class="opacity-0 transition group-hover:opacity-100 " (click)="delete.emit()"></button>
            <tui-svg src="tuiIconDrag" class="text-stone-300 group-hover:text-stone-600 transition"></tui-svg>
        </div>
    </div>

</div>