<div class="choice flex justify-between group items-center gap-2 cursor-ns-resize">
    <tui-svg src="tuiIconDrag" class="text-slate-300 group-hover:text-slate-600 transition"></tui-svg>
    <div class="flex-1">
        <p class="text-lg font-medium">{{ingredient.name}}</p>
        <p class="line-clamp-2 text-slate-600">{{ingredient.description}}</p>
    </div>
    <div class="flex items-center gap-2">
        <app-money [value]="ingredient.price"></app-money>
        <button tuiIconButton icon="tuiIconTrash" size="s" appearance="secondary-destructive"
            class="opacity-0 transition group-hover:opacity-100 " (click)="delete.emit()"></button>
    </div>
</div>