<app-title>
    Vos recettes préférés
    <div ngProjectAs="content" class="py-2 flex flex-col gap-4">

        <p>Découvrez le plus grand catalogue de burgers du monde, créés par la communauté.</p>

        <app-search-bar [search]="(search$ | async) ?? ''" (searchChange)="search$.next($event)"
            placeholder="Rechercher une recette"></app-search-bar>

        <tui-scrollbar class="overflow-y-hidden h-12">
            <tui-filter [formControl]="filters" [items]="(ingredients$ | async) ?? []" [content]="filterContent"
                class="!flex flex-nowrap"></tui-filter>
        </tui-scrollbar>

        <ng-template #filterContent let-item>
            {{item.name}}
        </ng-template>

    </div>
</app-title>

<ng-container *ngIf="products$ | async as products">

    @if (!products?.length) {
    <p class="text-center">Aucun burger ne correspond à votre recherche.</p>
    } @else {
    <div class="grid gap-2 md:grid-cols-2 lg:grid-cols-4">
        @for (product of products; track product.id) {
        <app-product-card [product]="product"
            class="animate-in fade-in slide-in-from-top-2 transition-all"></app-product-card>
        }
    </div>
    }

</ng-container>